/* Greeting Page */

#nav-btn {
	margin-right: 20px;
}

#nav-text-lib-log {
	color: #FFF;
}

h1 {
	margin-bottom: 100px;
}

.table-title {
	font-size: 24px;
}

.error {
	color: #F00;
}


/* Main Page */

#nav-text-welcome {
	margin-right: 20px;
	font-size: 16px;
	color: #FFF;
}

#table-cart {
	margin-left: 10px;
}

#basket-div {
	border: 1px solid black;
}

.basket-table-title {
	font-size: 18px;
}

#checkout-button {
	margin-bottom: 20px;
	margin-left: 60px;
}

#select-checkout {
	margin-bottom: 10px;
	background-color: #3366CC !important;
	color: #FFF !important;
}

#checkout-title {
	margin-top: 50px;
	margin-bottom: 15px;
}


/* Add Member Page */

#member-form-id {
	border: 1px solid black;
}

#form-title {
	margin-bottom: 50px;
}

#member-button {
	margin-bottom: 25px;
	margin-left: 90px;
}

.member-form-field {
	margin-bottom: 25px;
}
